.product {
    margin-top: 90px;
}

.add-product {
    background-color: #fff;
    height: 100vh;
    width: 70%;
    margin: auto;
}

.add-product-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    margin-bottom: 15px;

}

.product-form {
    background-color: #0000000d; 
    width: 80%;
    margin: auto;
}
.form-group{
    width: 80%;
    margin: auto;
}
.submit-product{
    border: 0;
    background: #00b2ff;
    padding: 5px 13px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
} 

.product-list-add{
    background: rgb(13,110,253);
    padding: 3px 11px;
    border-radius: 7px;
}
.product-list-add span{
    padding-right: 10px;
}

.product-list-add a{
    color: #fff !important;
    font-weight: 600
}